$primaryColor: #eeffcc;

body {
    background: $primaryColor;
}

.node{
	// font-size: 150px;
  position: relative;
  display: inline-block;
  height: 30px;
  width: 40px;
  line-height: 30px;

}

.node > img{
  height: 20px;
  margin: 5px 10px;
}

.inputContainer{
	font-size: 50px;
  display: inline-block;
}

.nodeForm{
  position: absolute;
  // bottom: 31px;
}

.tabInput{
	width: 30px;
	margin: 2px;
	text-align: center;
}

.gString{
  display: flex;
  justify-content: center;
}


/************/

.navbar{
  height: 30px;
  border-bottom: solid 1px black;
}

.loginForm{
  width: 333px;
  float: right;
  text-align: right;
  margin-top: 4px;
}

.usernameInput{
  margin-right: 10px;
}

.logo{
  width: 50px;
  float: left;
  display: inline-block;
}


/******** TAB **********/

.tab{
  display: inline-block;
  border-right: solid 1px black;
  margin: 1px;
}

/********  Composition List Item **********/

.compItem{
  display: inline-block;
  margin-right: 13px;
}

/*****************************************/